@using FujairahHR.Models;
@{
    var data_rs = (List<Dictionary<string, string>>)ViewBag.data_rs;
}

<style type="text/css">
    .ddm {
        width: 100%;
        padding: 6px;
    }

    .padd-btm {
        padding-bottom: 6px;
    }
</style>

<main class="admin-main">
<!---->
<!--site header begins-->
    <header class="admin-header">
        <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>
        <nav class=" mr-auto my-auto">
            <ul class="nav align-items-center">
                <li class="nav-item"> <a class="nav-link  " data-target="#siteSearchModal" data-toggle="modal" href="#"> <i class=" mdi mdi-magnify mdi-24px align-middle"></i> </a> </li>
            </ul>
        </nav>
        <nav class=" ml-auto">
            <ul class="nav align-items-center">
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-24px mdi-bell-outline"></i> <span class="notification-counter"></span> </a>
                        <div class="dropdown-menu notification-container dropdown-menu-right">
                            <div class="d-flex p-all-15 bg-white justify-content-between border-bottom "> <a href="#!" class="mdi mdi-18px mdi-settings text-muted"></a> <span class="h5 m-0">@CF.trans_code("en", "c1", "Notifications")</span> <a href="#!" class="mdi mdi-18px mdi-notification-clear-all text-muted"></a> </div>
                            <div class="notification-events bg-gray-300">
                                <div class="text-overline m-b-5">@CF.trans_code("en", "c2", "today")</div>
                                <a href="#" class="d-block m-b-10">
                                    <div class="card">
                                        <div class="card-body"> <i class="mdi mdi-circle text-success"></i>@CF.trans_code("en", "c3", "All systems operational.")</div>
                                    </div>
                                </a> <a href="#" class="d-block m-b-10">
                                    <div class="card">
                                        <div class="card-body"> <i class="mdi mdi-upload-multiple "></i>@CF.trans_code("en", "c4", "File upload successful.")</div>
                                    </div>
                                </a> <a href="#" class="d-block m-b-10">
                                    <div class="card">
                                        <div class="card-body"> <i class="mdi mdi-cancel text-danger"></i>@CF.trans_code("en", "c5", "Your holiday has been denied")</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-sm avatar-online"> <span class="avatar-title rounded-circle bg-dark">V</span> </div>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right">
                        <a class="dropdown-item" href="#">@CF.trans_code("en", "c6", "Add Account")</a> <a class="dropdown-item" href="#">@CF.trans_code("en", "c7", "Reset Password")</a> <a class="dropdown-item" href="#">@CF.trans_code("en", "c8", "Help")</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">@CF.trans_code("en", "c9", "Logout")</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
<!--site header ends -->
<!---->
    <section class="admin-content">
        <div class="bg-dark">
            <div class="container">
                <div class="row p-b-60 p-t-60">

                    <div class="col-md-4 text-white p-b-30">
                        <div class="media">
                            <div class="avatar avatar mr-3">
                                <div class="avatar-title bg-success rounded-circle mdi mdi-newspaper">

                                </div>
                            </div>
                            <div class="media-body">
                                <h1></h1>@CF.trans_code("en", "c159", "Jobs Management")</h1>
                                <p class="opacity-75">
                                    View all job postings.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 text-center m-b-30 ml-auto">
                        <div class="rounded text-white bg-white-translucent">
                            <div class="p-all-15">
                                <div class="row">
                                    <div class="col-md-12 my-2 m-md-0">
                                        <div class="text-overline    opacity-75">@CF.trans_code("en", "c161", "Total Jobs")</div>
                                        <h3 class="m-0 text-success" id="total_records"> @data_rs.Count()</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 text-white">

                        <div style="text-align:right; padding-top:40px;">
                            <button style="width:110px" type="button" class="btn  m-b-30 ml-2 mr-2 btn-secondary" onclick="javascript:ajax_delete()">
                                <i class="mdi mdi-close"></i>@CF.trans_code("en", "c13", "Delete")
                            </button>
                            <button style="width:110px" type="button" class="btn  m-b-30 ml-2 mr-2 btn-warning" onclick="javascript:show_add_form()">
                                <i class="mdi mdi-plus"></i>@CF.trans_code("en", "c14", "New")
                            </button>
                            <button style="width:110px" type="button" class="btn  m-b-30 ml-2 mr-2 btn-info" onclick="javascript:show_edit_form()">
                                <i class="mdi mdi-border-color"></i>@CF.trans_code("en", "c14", "New")
                            </button>
                            <button style="width:110px" type="button" class="btn  m-b-30 ml-2 mr-2 btn-success" onclick="javascript:ajax_activate()">
                                <i class="mdi mdi-arrow-up"></i>@CF.trans_code("en", "c16", "Publish")
                            </button>
                            <button style="width:110px" type="button" class="btn  m-b-30 ml-2 mr-2 btn-danger" onclick="javascript:ajax_deactivate()">
                                <i class="mdi mdi-arrow-down"></i>@CF.trans_code("en", "c17", "Unpublish")
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


<!--DT START-->
        <div class="container  pull-up">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive p-t-10">
                                <div class="row padd-btm">
                                    <div class="col-sm-2">
                                        >@CF.trans_code("en", "c162", "Employer")<
                                    </div>
                                    <div class="col-sm-1">
                                        <div id="employer_name"></div>
                                    </div>

                                    <div class="col-sm-1">&nbsp;</div>

                                    <div class="col-sm-2">
                                        @CF.trans_code("en", "c163", "Specialization"):
                                    </div>
                                    <div class="col-sm-1">
                                        <div id="specialization_name"></div>
                                    </div>

                                    <div class="col-sm-1">&nbsp;</div>

                                    <div class="col-sm-2">
                                    Publication @CF.trans_code("en", "c31", "Status")
                                    </div>
                                    <div class="col-sm-1">
                                        <div id="publication_status"></div>
                                    </div>
                                </div>

                                <br>

                                <table id="tbl_listing" class="display" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@CF.trans_code("en", "c20", "Serial No")</th>
                                            <th class="text-center">Job Category</th>
                                            <th class="text-center">Publication Status</th>
                                            <th class="text-center">Candidates For Job</th>
                                            <th class="text-center">Closing Date</th>
                                            <th class="text-center">Date of <br>Publication</th>
                                            <th class="text-center">@CF.trans_code("en", "c86", "Job Title")</th>
                                            <th class="text-center">@CF.trans_code("en", "c30", "Code")</th>
                                            <th class="text-center">Specialization Name</th>
                                            <th class="text-center">Employer Name</th>
                                            <th class="text-center">@CF.trans_code("en", "c31", "Status")</th>
                                            <th class="text-center"><input type="checkbox" id="checkbox_row_all" class="checkbox_row_all" name="checkbox_row_all" />  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center">@CF.trans_code("en", "c20", "Serial No")</th>
                                            <th class="text-center">Job Category</th>
                                            <th class="text-center">Publication Status</th>
                                            <th class="text-center">Candidates For Job</th>
                                            <th class="text-center">Closing Date</th>
                                            <th class="text-center">Date of <br>Publication</th>
                                            <th class="text-center">@CF.trans_code("en", "c86", "Job Title")</th>
                                            <th class="text-center">@CF.trans_code("en", "c30", "Code")</th>
                                            <th class="text-center">Specialization Name</th>
                                            <th class="text-center">Employer Name</th>
                                            <th class="text-center">@CF.trans_code("en", "c31", "Status")</th>
                                            <th class="text-center"><input type="checkbox" id="checkbox_row_all" class="checkbox_row_all" name="checkbox_row_all" />  </th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--DT END-->
    </section>
</main>

<!-- MODAL ADD START -->
<div id="modal_add" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_add" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card m-b-30">
                <div class="card-header">
                    <h5 class="m-b-0">
                        Job Manager
                    </h5>
                    <p class="m-b-0 text-muted">
                        Add New Job
                    </p>
                </div>
                <div class="card-body ">
                    <form id="frm_add" name="frm_add">
                        
                        <div class="form-group">
                            <label for="inputAddress">Specialization</label>
                            <select name="tbl_specialization_id" id="tbl_specialization_id" class="form-control">
                                @for (int i = 0; i < ViewBag.data_specialization_rs.Count; i++)
                                {
                                    string tbl_specialization_id = CF.getData(i, "tbl_specialization_id", ViewBag.data_specialization_rs);
                                    string specialization_name_en = CF.getData(i, "specialization_name_en", ViewBag.data_specialization_rs);

                                    <option value="@tbl_specialization_id">@specialization_name_en</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Title</label>
                            <input type="text" class="form-control" id="job_title" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Employer</label>
                            <select name="tbl_employer_id" id="tbl_employer_id" class="form-control">
                                @for (int i = 0; i < ViewBag.data_employer_rs.Count; i++)
                                {
                                    string tbl_employer_id = CF.getData(i, "tbl_employer_id", ViewBag.data_employer_rs);
                                    string employer_en = CF.getData(i, "employer_en", ViewBag.data_employer_rs);

                                    <option value="@tbl_employer_id">@employer_en</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputZip">Job Details</label>
                            <textarea id="job_description" name="job_description" style="width:100%"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="inputZip">Requirements</label>
                            <textarea id="requirements" name="requirements" style="width:100%"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Estimated Salary</label>
                            <input type="text" class="form-control" id="estimated_salary" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Number of Vacancies</label>
                            <input type="number" class="form-control" id="number_of_vacancies" placeholder="">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date of Publication</label>
                                <input type="text" class="datepicker form-control" id="publication_date" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Closing Date</label>
                                <input type="text" class="datepicker form-control" id="closing_date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Job Category</label>
                            <select name="tbl_job_category_id" id="tbl_job_category_id" class="form-control">
                                @for (int i = 0; i < ViewBag.data_job_category_rs.Count; i++)
                                {
                                    string tbl_job_category_id = CF.getData(i, "tbl_job_category_id", ViewBag.data_job_category_rs);
                                    string job_category_name_en = CF.getData(i, "job_category_name_en", ViewBag.data_job_category_rs);

                                    <option value="@tbl_job_category_id">@job_category_name_en</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="is_special">
                                <label class="form-check-label" for="gridCheck">
                                    Special
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Publication Status</label>
                            <select name="publication_status" id="publication_status" class="form-control">
                                <option value="1"></option>
                                <option value="2">Published</option>
                                <option value="3">Pending</option>
                            </select>
                        </div>

                    </form>
                    <div class="form-group">
                        <button class="btn btn-primary" onclick="ajax_create()">@CF.trans_code("en", "c122", "Submit")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL ADD END -->
<!-- MODAL EDIT START -->
<div id="modal_edit" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal_edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card m-b-30">
                <div class="card-header">
                    <h5 class="m-b-0">
                        Job Manager
                    </h5>
                    <p class="m-b-0 text-muted">
                        Edit Job
                    </p>
                </div>
                <div class="card-body ">
                    <form id="frm_edit" name="frm_edit">
                        
                        <div class="form-group">
                            <label for="inputAddress">@CF.trans_code("en", "c30", "Code")</label>
                            <input type="text" class="form-control" id="job_code" placeholder="Code" readonly>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Specialization</label>
                            <select name="tbl_specialization_id" id="tbl_specialization_id" class="form-control">
                                @for (int i = 0; i < ViewBag.data_specialization_rs.Count; i++)
                                {
                                    string tbl_specialization_id = CF.getData(i, "tbl_specialization_id", ViewBag.data_specialization_rs);
                                    string specialization_name_en = CF.getData(i, "specialization_name_en", ViewBag.data_specialization_rs);

                                    <option value="@tbl_specialization_id">@specialization_name_en</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Title</label>
                            <input type="text" class="form-control" id="job_title" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Employer</label>
                            <select name="tbl_employer_id" id="tbl_employer_id" class="form-control">
                                @for (int i = 0; i < ViewBag.data_employer_rs.Count; i++)
                                {
                                    string tbl_employer_id = CF.getData(i, "tbl_employer_id", ViewBag.data_employer_rs);
                                    string employer_title = CF.getData(i, "employer_title", ViewBag.data_employer_rs);

                                    <option value="@tbl_employer_id">@employer_title</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="inputZip">Job Details</label>
                            <textarea id="job_description_edit" name="job_description_edit" style="width:100%"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="inputZip">Requirements</label>
                            <textarea id="requirements" name="requirements" style="width:100%"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Estimated Salary</label>
                            <input type="text" class="form-control" id="estimated_salary" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Number of Vacancies</label>
                            <input type="number" class="form-control" id="number_of_vacancies" placeholder="">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Date of Publication</label>
                                <input type="text" class="datepicker form-control" id="publication_date_edit" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Closing Date</label>
                                <input type="text" class="datepicker form-control" id="closing_date_edit">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Job Category</label>
                            <select name="tbl_job_category_id" id="tbl_job_category_id" class="form-control">
                                @for (int i = 0; i < ViewBag.data_job_category_rs.Count; i++)
                                {
                                    string tbl_job_category_id = CF.getData(i, "tbl_job_category_id", ViewBag.data_job_category_rs);
                                    string job_category_name_en = CF.getData(i, "job_category_name_en", ViewBag.data_job_category_rs);

                                    <option value="@tbl_job_category_id">@job_category_name_en</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="is_special">
                                <label class="form-check-label" for="gridCheck">
                                    Special
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Publication Status</label>
                            <select name="publication_status" id="publication_status" class="form-control">
                                <option value="N" selected>Pending</option>
                                <option value="Y">Published</option>                                
                            </select>
                        </div>
                        <input type="hidden" name="tbl_job_id_edit" id="tbl_job_id_edit" value="" />
                    </form>
                    <div class="form-group">
                        <button class="btn btn-primary" onclick="ajax_save()">@CF.trans_code("en", "c122", "Submit")</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDIT END -->
<br />
<br />


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.flash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css">

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            default@CF.trans_code("en", "c38", "Date"): new Date(),
            changeMonth: true,
            changeYear: true
        });

        $('.datepicker').css("z-index", "0");
    });
    
</script>


<script>

    tinymce.init({
        selector: '#job_description',
        plugins: 'print preview  powerpaste searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount tinymcespellchecker a11ychecker imagetools textpattern help',
        toolbar: 'mybutton | formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
        image_advtab: true,
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ],
        setup: function (editor) {

            /* example, adding a toolbar menu button */
            editor.ui.registry.addMenuButton('mybutton', {
                text: 'Read More',
                fetch: function (callback) {
                    var con = tinyMCE.get('job_description').getContent();
                    var index = con.indexOf('<hr class="read_more" />');
                    if (index == -1) {//Not found
                        editor.insertContent('<hr class="read_more" />');
                    } else {
                        alert("@CF.trans_code("en", "c106", "There is already a Read more... link that has been inserted. Only one such link is permitted. Use {pagebreak} to split the page up further.")")
                    }
                }
            });
        },
        link_list: [
            { job_title: 'My page 1', value: 'http://www.tinymce.com' },
            { job_title: 'My page 2', value: 'http://www.moxiecode.com' }
        ],
        image_list: [
            { job_title: 'My page 1', value: 'http://www.tinymce.com' },
            { job_title: 'My page 2', value: 'http://www.moxiecode.com' }
        ],
        image_class_list: [
            { job_title: 'None', value: '' },
            { job_title: 'Some class', value: 'class-name' }
        ],
        importcss_append: true,
        height: 400,
        file_picker_callback: function (callback, value, meta) {
            /* Provide file and text for the link dialog */
            if (meta.filetype === 'file') {
                callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
            }

            /* Provide image and alt text for the image dialog */
            if (meta.filetype === 'image') {
                callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
            }

            /* Provide alternative source and posted for the media dialog */
            if (meta.filetype === 'media') {
                callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
            }
        },
        templates: [
            { job_title: 'Some job_title 1', description: 'Some desc 1', content: 'My content' },
            { job_title: 'Some job_title 2', description: 'Some desc 2', content: '<div class="mceTmpl"><span class="cdate">cdate</span><span class="mdate">mdate</span>My content2</div>' }
        ],
        template_cdate_format: '[C@CF.trans_code("en", "c38", "Date"): %m/%d/%Y : %H:%M:%S]',
        template_mdate_format: '[M@CF.trans_code("en", "c38", "Date"): %m/%d/%Y : %H:%M:%S]',
        image_caption: true,

        spellchecker_dialog: true,
        spellchecker_whitelist: ['Ephox', 'Moxiecode']
    });

</script>

<script>
    /*
    tinymce.init({
        selector: '#mytextarea',
        plugins: "image",
        menubar: "insert",
        toolbar: "image imagetools",
        image_list: [
            { job_title: 'My image 1', value: 'https://www.tinymce.com/my1.gif' },
            { job_title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif' }
        ]
    });
    */
    tinymce.init({
        selector: '#job_description_edit',
        plugins: 'print preview  powerpaste searchreplace autolink directionality advcode visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount tinymcespellchecker a11ychecker imagetools textpattern help',
        toolbar: 'mybutton | formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
        image_advtab: true,
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ],
        setup: function (editor) {

            /* example, adding a toolbar menu button */
            editor.ui.registry.addMenuButton('mybutton', {
                text: 'Read More',
                fetch: function (callback) {
                    var con = tinyMCE.get('job_description_edit').getContent();
                    var index = con.indexOf('<hr class="read_more" />');
                    if (index == -1) {//Not found
                        editor.insertContent('<hr class="read_more" />');
                    } else {
                        alert("@CF.trans_code("en", "c106", "There is already a Read more... link that has been inserted. Only one such link is permitted. Use {pagebreak} to split the page up further.")")
                    }
                }
            });
        },
        link_list: [
            { job_title: 'My page 1', value: 'http://www.tinymce.com' },
            { job_title: 'My page 2', value: 'http://www.moxiecode.com' }
        ],
        image_list: [
            { job_title: 'My page 1', value: 'http://www.tinymce.com' },
            { job_title: 'My page 2', value: 'http://www.moxiecode.com' }
        ],
        image_class_list: [
            { job_title: 'None', value: '' },
            { job_title: 'Some class', value: 'class-name' }
        ],
        importcss_append: true,
        height: 400,
        file_picker_callback: function (callback, value, meta) {
            /* Provide file and text for the link dialog */
            if (meta.filetype === 'file') {
                callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
            }

            /* Provide image and alt text for the image dialog */
            if (meta.filetype === 'image') {
                callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
            }

            /* Provide alternative source and posted for the media dialog */
            if (meta.filetype === 'media') {
                callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
            }
        },
        templates: [
            { job_title: 'Some job_title 1', description: 'Some desc 1', content: 'My content' },
            { job_title: 'Some job_title 2', description: 'Some desc 2', content: '<div class="mceTmpl"><span class="cdate">cdate</span><span class="mdate">mdate</span>My content2</div>' }
        ],
        template_cdate_format: '[C@CF.trans_code("en", "c38", "Date"): %m/%d/%Y : %H:%M:%S]',
        template_mdate_format: '[M@CF.trans_code("en", "c38", "Date"): %m/%d/%Y : %H:%M:%S]',
        image_caption: true,

        spellchecker_dialog: true,
        spellchecker_whitelist: ['Ephox', 'Moxiecode']
    });

</script>

<script language="javascript">

    var table = "";

    $(document).ready(function () {
        $('.checkbox_row_all').change(function () {
            if ($(this).is(":checked")) {
                $(".checkbox_row").each(function () {
                    var is_checked = $(this).prop("checked", true);
                    if (is_checked == true) {
                        record_id_str = record_id_str + $(this).val() + ",";
                    }
                });

            } else {
                $(".checkbox_row").each(function () {
                    var is_checked = $(this).prop("checked", false);
                    if (is_checked == true) {
                        record_id_str = record_id_str + $(this).val() + ",";
                    }
                });
            }
        });

        $('input[type="checkbox"]').on('click', function () {
        });




    });

    var exportOptions = {
        columns: ':visible:not(.not-exported)',
        rows: '.selected'
    }

    var table = "";
    $(document).ready(function () {

        table = $('#tbl_listing').DataTable({
            dom: 'lBfrtip',
            ajax: '/admin/Job/get_all_job_data_table/',
            "pageLength": 5,
            "bSort": true,
            "bFilter": true,
            'scrollX': true,
            "bPaginate": true,
            "bFilter": true,
            "bLengthChange": true,
            autoFilter: true,
            "oLanguage": {
                "sLengthMenu": "  _MENU_  "
            },
            initComplete: function () {
                var index = 0;
                this.api().columns().every(function () {
                    index = index + 1;
                    //alert(index);

                    if (index == 9 || index == 10 || index == 3) {
                        var column = this;
                        var select = $('<select class="ddm"><option value="">All</option></select>')
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        if (index == 9) {
                            select.appendTo($("#specialization_name"));
                        }
                        if (index == 10) {
                            select.appendTo($("#employer_name"));
                        }
                        if (index == 3) {
                            select.appendTo($("#publication_status"));
                        }
                        
                        column.data().unique().sort().each(function (d, j) {
                            var fields = d.split('<br>');
                            if (fields.length > 0) {
                                for (i = 0; i < fields.length; i++) {
                                    if (fields[i] != "") {
                                        select.append('<option value="' + fields[i] + '">' + fields[i] + '</option>')
                                    }
                                }
                            } else {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            }
                        });
                    }
                });
            },
            columns: [
                { data: 'readingOrder', className: 'reorder' },
                { data: 'job_category_name' },
                { data: 'publication_status' },
                { data: 'candidate_job_count' },
                { data: 'closing_date' },
                { data: 'publication_date' },
                { data: 'job_title' },
                { data: 'job_code' },
                { data: 'specialization_name' },
                { data: 'employer_name' },
                { data: 'status' },
                { data: 'checkbox' },
            ],
            columnDefs: [
                { orderable: true, targets: [1, 2, 3] },
                {
                    "targets": 0,
                    "className": "text-center",
                    "width": "8%"
                },
                {
                    "targets": 1,
                    "className": "text-center",
                },
                {
                    "targets": 2,
                    "className": "text-center",
                },
                {
                    "targets": 3,
                    "className": "text-center",
                },
                {
                    "targets": 4,
                    "className": "text-center",
                },
                {
                    "targets": 5,
                    "className": "text-center",
                },
                {
                    "targets": 6,
                    "className": "text-center",
                },
                {
                    "targets": 7,
                    "className": "text-center",
                },
                {
                    "targets": 8,
                    "className": "text-center",
                },
                {
                    "targets": 9,
                    "className": "text-center",
                },
                {
                    "targets": 10,
                    "className": "text-center",
                    "width": "4%"
                },
                {
                    "targets": 11,
                    "className": "text-center",
                    "width": "4%"
                },
            ],

            select: true,
            rowReorder: {
                dataSrc: 'readingOrder',

            }, buttons: [
                'colvis',
                'selectAll',
                'selectNone',
                {
                    extend: 'collection',
                    text: 'Export Selected',
                    buttons: [
                        {
                            extend: 'copy',
                            exportOptions: exportOptions
                        },
                        {
                            extend: 'csv',
                            exportOptions: exportOptions
                        },
                        {
                            extend: 'print',
                            exportOptions: exportOptions
                        }
                    ]
                }
            ],
        });

        $('#tbl_listing').on('row-reorder.dt', function (e, details, edit) {
            var sort_order_max = 0;
            var sort_id_str = "";
            $(".checkbox_row").each(function () {
                var sort_order = $(this).attr("data-sortorder");
                if (sort_order > sort_order_max) { sort_order_max = sort_order; }
                var elem_id = $(this).attr("data-id");
                sort_id_str = sort_id_str + elem_id + ",";
            });

            ajax_set_sort_order(sort_id_str, sort_order_max);
        });
    });

    $(document).ready(function () {
        $('#tbl_listing').on('click', 'tr', function () {
            $(this).toggleClass("selected");
        });
    });


    function show_add_form() {
        $("#modal_add").modal('show');
    }

    function show_edit_form() {

        var record_id = "", flg = 0;
        $(".checkbox_row").each(function () {
            var is_checked = $(this).prop("checked");
            if (is_checked == true && flg == 0) {
                record_id = $(this).val();
                flg = 1;
            }
        });

        if (record_id == "") {
            my_alert("@CF.trans_code("en", "c97", "Please select at least one record to proceed.")", "red");
            return;
        }
        $.ajax({
            type: "POST",
            url: "Job/edit",
            data: {
                record_id: record_id,
                is_ajax: true
            },
            success: function (data) {
                if (data.code == "SE") {
                    my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")");
                    return;
                }

                var tbl_job_id = data.obj.tbl_job_id;
                var job_code = data.obj.job_code;
                var tbl_specialization_id = data.obj.tbl_specialization_id;
                var job_title = data.obj.job_title;
                var tbl_employer_id = data.obj.tbl_employer_id;
                var job_description = data.obj.job_description;
                var requirements = data.obj.requirements;
                var estimated_salary = data.obj.estimated_salary;
                var number_of_vacancies = data.obj.number_of_vacancies;
                var publication_date = data.obj.publication_date;
                var closing_date = data.obj.closing_date;
                var tbl_job_category_id = data.obj.tbl_job_category_id;
                var is_special = data.obj.is_special;
                var publication_status = data.obj.publication_status;
                var added_date = data.obj.added_date;
                var is_active = data.obj.is_active;
                var sort_order = data.obj.sort_order;

                $("#frm_edit #job_code").val(job_code);
                $("#tbl_job_id_edit").val(tbl_job_id);
                $("#frm_edit #tbl_specialization_id").val(tbl_specialization_id);
                $("#frm_edit #job_title").val(job_title);
                $("#frm_edit #tbl_employer_id").val(tbl_employer_id);
                tinyMCE.get('job_description_edit').setContent(job_description);
                $("#frm_edit #requirements").val(requirements);
                $("#frm_edit #estimated_salary").val(estimated_salary);
                $("#frm_edit #number_of_vacancies").val(number_of_vacancies);
                $("#frm_edit #publication_date_edit").val(publication_date);
                $("#frm_edit #closing_date_edit").val(closing_date);
                $("#frm_edit #tbl_job_category_id").val(tbl_job_category_id);
                if (is_special == "Y") { $("#frm_edit #is_special").prop("checked", true); } else { $("#frm_edit #is_special").prop("checked", false);}
                $("#frm_edit #publication_status").val(publication_status);

                $("#modal_edit").modal("show");
            },
            error: function () {
            },
            complete: function () {
            }
        });
    }

    function ajax_activate() {

        var record_id_str = "";
        $(".checkbox_row").each(function () {
            var is_checked = $(this).prop("checked");
            if (is_checked == true) {
                record_id_str = record_id_str + $(this).val() + ",";
            }
        });

        if (record_id_str == "") {
            my_alert("@CF.trans_code("en", "c97", "Please select at least one record to proceed.")", "red");
            return;
        }

        swal({
            title: "Message",
            text: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes",
            closeOnConfirm: true
        },
            function () {

                preloader("show", "");

                var url = "/Job/Activate";
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "JSON",
                    data: {
                        record_id_str: record_id_str,
                    },
                    success: function (data) {
                        preloader("hide", "");
                        if (data.code == "SE") {
                            my_alert("@CF.trans_code("en", "c98", "Your session is invalid or it has expired. Kindly log in again.")");
                        } else if (data.code == "Y") {

                            $(".checkbox_row").each(function () {
                                var is_checked = $(this).prop("checked");
                                if (is_checked == true) {
                                    $("#status_row_" + $(this).val()).removeClass("status_row_unpublished").addClass("status_row_published");
                                    $(this).prop("checked", false);
                                }
                            });

                            my_alert("@CF.trans_code("en", "c107", "Information has been saved successfully.")", "green");

                        } else {
                            my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")", "red");
                        }
                    },
                    error: function () {
                        my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")", "red");
                        preloader("hide", "");
                    }
                });
            });

        return;
    }

    function ajax_deactivate() {

        var record_id_str = "";
        $(".checkbox_row").each(function () {
            var is_checked = $(this).prop("checked");
            if (is_checked == true) {
                record_id_str = record_id_str + $(this).val() + ",";
            }
        });

        if (record_id_str == "") {
            my_alert("@CF.trans_code("en", "c97", "Please select at least one record to proceed.")", "red");
            return;
        }

        swal({
            title: "Message",
            text: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes",
            closeOnConfirm: true
        },
            function () {
                preloader("show", "");

                var url = "/Job/Deactivate";
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "JSON",
                    data: {
                        record_id_str: record_id_str,
                    },
                    success: function (data) {
                        preloader("hide", "");
                        if (data.code == "SE") {
                            my_alert("@CF.trans_code("en", "c98", "Your session is invalid or it has expired. Kindly log in again.")");
                        } else if (data.code == "Y") {
                            $(".checkbox_row").each(function () {
                                var is_checked = $(this).prop("checked");
                                if (is_checked == true) {
                                    $("#status_row_" + $(this).val()).removeClass("status_row_published").addClass("status_row_unpublished");
                                    $(this).prop("checked", false);
                                }
                            });

                            my_alert("@CF.trans_code("en", "c107", "Information has been saved successfully.")", "green");

                        } else {
                            my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")", "red");
                        }
                    },
                    error: function () {
                        my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")", "red");
                        preloader("hide", "");
                    }
                });
            });

        return;
    }

    function ajax_delete() {

        var record_id_str = "";
        $(".checkbox_row").each(function () {
            var is_checked = $(this).prop("checked");
            if (is_checked == true) {
                record_id_str = record_id_str + $(this).val() + ",";
            }
        });

        if (record_id_str == "") {
            my_alert("@CF.trans_code("en", "c97", "Please select at least one record to proceed.")", "red");
            return;
        }

        swal({
            title: "Message",
            text: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes",
            closeOnConfirm: true
        },
            function () {
                preloader("show", "");

                var url = "/Job/Delete";
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: "JSON",
                    data: {
                        record_id_str: record_id_str,
                    },
                    success: function (data) {
                        preloader("hide", "");
                        if (data.code == "SE") {
                            my_alert("@CF.trans_code("en", "c98", "Your session is invalid or it has expired. Kindly log in again.")");
                        } else if (data.code == "Y") {
                            deselect_rows();
                            table.ajax.reload();
                            $("#total_records").html(data.total_records);
                            my_alert("@CF.trans_code("en", "c99", "Information has been deleted successfully.")", "green");
                        } else {
                            my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")");
                        }
                    },
                    error: function () {
                        my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")");
                        preloader("hide", "");
                    }
                });
            });

        return;
    }

    function ajax_create() {
        var str = "";
        var regExp = / /g;

        var tbl_specialization_id = $("#frm_add #tbl_specialization_id").val();
        var job_title = $("#frm_add #job_title").val();
        var tbl_employer_id = $("#frm_add #tbl_employer_id").val();
        var job_description = tinyMCE.get('job_description').getContent();
        var requirements = $("#frm_add #requirements").val();
        var estimated_salary = $("#frm_add #estimated_salary").val();
        var number_of_vacancies = $("#frm_add #number_of_vacancies").val();
        var publication_date = $("#frm_add #publication_date").val();
        var closing_date = $("#frm_add #closing_date").val();
        var tbl_job_category_id = $("#frm_add #tbl_job_category_id").val();
        var is_special = "N";
        if ($("#is_special").prop('checked') == true) {
            is_special = "Y";
        }
        var publication_status = $("#frm_add #publication_status").val();

        str = job_title;
        str = str.replace(regExp, '');
        if (str.length <= 0) {
            my_alert("@CF.trans_code("en", "c103", "Title is blank. Please enter Title.")");
            return false;
        }

        str = strip_html(job_description);
        str = str.replace(regExp, '');
        if (str.length <= 0) {
            my_alert("@CF.trans_code("en", "c104", "Description is blank. Please enter Description.")");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "Job/create",
            data: {
                tbl_specialization_id: tbl_specialization_id,
                job_title: job_title,
                tbl_employer_id: tbl_employer_id,
                job_description: job_description,
                requirements: requirements,
                estimated_salary: estimated_salary,
                number_of_vacancies: number_of_vacancies,
                publication_@CF.trans_code("en", "c38", "Date"): publication_date,
                closing_@CF.trans_code("en", "c38", "Date"): closing_date,
                tbl_job_category_id: tbl_job_category_id,
                is_special: is_special,
                publication_status: publication_status,
                is_ajax: true
            },
            success: function (data) {

                if (data.code == "Y") {
                    $("#modal_add").modal('hide');
                    $("#total_records").html(data.total_records);
                    deselect_rows();
                    table.ajax.reload();
                    my_alert("@CF.trans_code("en", "c107", "Information has been saved successfully.")", "green");

                } else {
                    my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")");
                }

                $('#job_title').val("");
                tinymce.get('job_description').setContent("");
            },
            error: function () {
            },
            complete: function () {
            }
        });
    }

    function ajax_save() {
        var str = "";
        var regExp = / /g;

        var tbl_job_id = $("#tbl_job_id_edit").val();

        var tbl_specialization_id = $("#frm_edit #tbl_specialization_id").val();
        var job_title = $("#frm_edit #job_title").val();
        var tbl_employer_id = $("#frm_edit #tbl_employer_id").val();
        var job_description = tinyMCE.get('job_description_edit').getContent();
        var requirements = $("#frm_edit #requirements").val();
        var estimated_salary = $("#frm_edit #estimated_salary").val();
        var number_of_vacancies = $("#frm_edit #number_of_vacancies").val();
        var publication_date = $("#frm_edit #publication_date_edit").val();
        var closing_date = $("#frm_edit #closing_date_edit").val();
        var tbl_job_category_id = $("#frm_edit #tbl_job_category_id").val();
        var is_special = "N";
        if ($("#is_special").prop('checked') == true) {
            is_special = "Y";
        }
        var publication_status = $("#frm_edit #publication_status").val();

        str = job_title;
        str = str.replace(regExp, '');
        if (str.length <= 0) {
            my_alert("@CF.trans_code("en", "c103", "Title is blank. Please enter Title.")");
            return false;
        }

        str = strip_html(job_description);
        str = str.replace(regExp, '');
        if (str.length <= 0) {
            my_alert("@CF.trans_code("en", "c104", "Description is blank. Please enter Description.")");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "Job/save",
            data: {
                tbl_job_id: tbl_job_id,
                tbl_specialization_id: tbl_specialization_id,
                job_title: job_title,
                tbl_employer_id: tbl_employer_id,
                job_description: job_description,
                requirements: requirements,
                estimated_salary: estimated_salary,
                number_of_vacancies: number_of_vacancies,
                publication_@CF.trans_code("en", "c38", "Date"): publication_date,
                closing_@CF.trans_code("en", "c38", "Date"): closing_date,
                tbl_job_category_id: tbl_job_category_id,
                is_special: is_special,
                publication_status: publication_status,
                is_ajax: true
            },
            success: function (data) {

                if (data.code == "Y") {
                    $("#modal_edit").modal('hide');
                    $("#total_records").html(data.total_records);
                    deselect_rows();
                    table.ajax.reload();
                    my_alert("@CF.trans_code("en", "c107", "Information has been saved successfully.")", "green");

                } else {
                    my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")");
                }

                $('#job_title').val("");
                tinymce.get('job_description_edit').setContent("");
            },
            error: function () {
            },
            complete: function () {
            }
        });
    }


    function ajax_set_sort_order(sort_id_str, sort_order_max) {

        $.ajax({
            type: "POST",
            url: "Job/set_sort_order",
            data: {
                sort_id_str: sort_id_str,
                sort_order_max: sort_order_max,
                is_ajax: true
            },
            success: function (data) {
                //if(data.code == "Y") {
                //    my_alert("@CF.trans_code("en", "c107", "Information has been saved successfully.")", "green");
                //} else {
                //    my_alert("@CF.trans_code("en", "c109", "There was an error processing your request. Please try again.")");
                //}
            },
            error: function () {
            },
            complete: function () {
            }
        });
    }

    function deselect_rows() {
        table.rows({ selected: true }).deselect();
    }

</script>

<style type="text/css">
    .status_row {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .status_row_published {
        background-color: #00A47C;
    }

    .status_row_unpublished {
        background-color: #EF2E30;
    }

    .mdi-drag-variant {
        cursor: move;
    }

    .ml-2, .mx-2 {
        margin-left: 0px !important;
        margin-right: 5px !important;
    }
</style>


<script language="javascript">

</script>
<script language="javascript">
    function strip_html(html) {
        var tmp = document.createElement("DIV");
        tmp.innerHTML = html;
        return $.trim(tmp.textContent) || $.trim(tmp.innerText) || "";
    }
</script>


