    <!-- Modal -->
<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="px-3 pt-3 text-center">
                    <div class="event-type success">
                        <div class="event-indicator ">
                            <i class="mdi mdi-check text-white" style="font-size: 60px"></i>
                        </div>
                    </div>
                    <h3 class="pt-3">Success!</h3>
                    <p id="p_message_success" class="text-muted">

                    </p>

                </div>
            </div>
            <div class="modal-footer ">
                <a href="#" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Okay</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->
<!-- Modal -->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="px-3 pt-3 text-center">
                    <div class="event-type error">
                        <div class="event-indicator ">
                            <i class="mdi mdi-close text-white" style="font-size: 60px"></i>
                        </div>
                    </div>
                    <h3 class="pt-3">Oops!</h3>
                    <p id="p_message_error" class="text-muted">
                    </p>
                    <!--
                    <div>
                        <a href="#" class="badge badge-danger">Error Code:503</a>
                    </div>
                    -->
                </div>
            </div>
            <div class="modal-footer ">
                <a href="#" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Okay</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->



<script src="@Url.Content("~")Content/admin/vendor/popper/popper.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/select2/js/select2.full.min.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/listjs/listjs.min.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/moment/moment.min.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/daterangepicker/daterangepicker.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="@Url.Content("~")Content/admin/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="@Url.Content("~")Content/admin/js/atmos.min.js"></script>

<script src="@Url.Content("~")Content/admin/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload-process.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload-image.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload-audio.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload-video.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload-validate.js" type="text/javascript"></script>
<script src="@Url.Content("~")Content/admin/js/jquery.fileupload-ui.js" type="text/javascript"></script>


<!--Additional Page includes-->

<script src="@Url.Content("~")Content/admin/vendor/apexchart/apexcharts.min.js"></script>

<!--chart data for current dashboard-->

<script src="@Url.Content("~")Content/admin/js/dashboard-01.js"></script>

</body>
</html>